language: ruby
rvm:
  - 2.2.4
before_install: gem install bundler -v 1.11.2

gemfile:
  - gemfiles/3.2.gemfile
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile

addons:
    code_climate:
        repo_token: db72eba1ff8fb1329dae5fb9b9dcd234243899d7a464ceb374e14a05ead27b7c
after_success:
  - bundle exec codeclimate-test-reporter

